#mainHeader {
}

#divOne {
}

#fightBox {
    margin: auto;
    position: absolute;
    width: 800px;
    height: 550px;
    border: 5px solid blue;
    border-radius: 15px;
    padding: 20px 40px;
}


#divThree {
    width: 800px;
    height: 550px;
    scale: auto;
    background-image: url("lib/street.jpg");
    padding: 40px;
}
/*

#Mario {
    width:150px;
    left:10%;
    object-fit: contain;
    
    border: 3px solid #73AD21;
}

#Artemis {
    width:100px;
    left:10%;
    object-fit: contain;
    
    border: 3px solid #73AD21;
}

.Fighter {

}
*/